<%# CSS・・・assets/stylesheets/comics/index.css %>
<%= render "shared/header" %>
 <div class = "main">

   <div class="introduction">
   <p>皆様こんにちは、当サイトはみんなが好きな漫画について熱く語っちゃう掲示板です</p>

   <p>暴言等はお控え下さい、マナーを守って楽しく語りましょう</p>

   <p>
  <%= image_tag('kamisama.png', :size => "32x32") %>
   満足するまでゆっくりしていってね
   <%= image_tag('entertainment_comic.png', :size => "32x32") %>
   </p>
   </div>


   <div class = comics_container>
      <%= render partial: "comic", collection: @comics %> 
   </div>











 </div>
