.comment-container {
  background-color: lightgrey;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  overflow-y: auto;
}


.comic-show{
  display: flex;
  justify-content: space-around;
  background-color: lightgreen;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.item-box {

}

.comic-name {
  text-align: center;
}

.comic-summary {
  margin-left: 40px;
  line-height: 2.7rem;
  font-size: 1.5vw;
}

.comic-link {
  margin-left: 40px;
}

.comic-box-img {
  width:120%;
  min-width: 60%;
  height: auto;
}



.page-container {
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.comment{
  display: block;
  margin-right: 20px;
}

.content-list li {
  display: flex;
  list-style-type: square;
  margin-top: 10px;
}

