.comment-container {
  background-color: lightgrey;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  overflow-y: auto;
}


.comic-show{
  display: flex;
  justify-content: space-around;
  background-color: lightgreen;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.item-box {

}

.comic-name {
  text-align: center;
}

.comic-summary {
  margin-left: 40px;
  line-height: 2.7rem;
  font-size: 1.5vw;
}

.comic-link {
  margin-left: 40px;
}

.comic-box-img {
  width:120%;
  min-width: 60%;
  height: auto;
}



.page-container {
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.comment{
  display: block;
  margin-right: 20px;
}

.content-list li {
  display: flex;
  list-style-type: square;
  margin-top: 10px;
}


// .button {
//   margin-left: 35px;
//   display       : inline-block;
//   border-radius : 5%;          /* 角丸       */
//   // font-size     : 18pt;        /* 文字サイズ */
//   text-align    : center;      /* 文字位置   */
//   cursor        : pointer;     /* カーソル   */
//   padding       : 12px 12px;   /* 余白       */
//   background    : rgba(255, 255, 26, 0.86);     /* 背景色     */
//   color         : #000000;     /* 文字色     */
//   line-height   : 1em;         /* 1行の高さ  */
//   transition    : .3s;         /* なめらか変化 */
//   box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
//   border        : 2px solid rgba(255, 255, 26, 0.86);    /* 枠の指定 */
// }
// .button:hover {
//   box-shadow    : none;        /* カーソル時の影消去 */
//   color         : rgba(255, 255, 26, 0.86);     /* 背景色     */
//   background    : #000000;     /* 文字色     */
// }